.info-box-text {
  font-size: 1rem;
  line-height: 19px;
}

.info-box-token {
  font-size: 0.875rem;
  line-height: 16px;
}

.info-box-commissionRate {
  font-size: 0.813rem;
  line-height: 15px;
}

.info-box img {
  width: 120px;
  max-height: 100px;
}