.info-box-text {
  font-size: 1rem;
  line-height: 19px;
}

.info-box-token {
  font-size: 0.875rem;
  line-height: 16px;
}

.info-box-commissionRate {
  font-size: 0.813rem;
  line-height: 15px;
}

.info-box img {
  width: 120px;
  max-height: 100px;
}

.detail-value {
  font-size: 0.75rem;
  line-height: 14px;
  color: #333333;
}

.listing-address-info {
  background-color: rgba(0, 136, 194, 0.09);
}

.total-token {
  font-size: 1.5625rem;
  line-height: 29px;
}

.ownership-checked {
  font-weight: 700;
  font-size: 0.75rem;
  color: #4f4f4f;
  line-height: 14px;
}

.value-text {
  font-size: 1rem;
  color: #4f4f4f;
  line-height: 21px;
}

.recharge-token-title,
.withdraw-token-title, .token-name {
  font-size: 0.875rem;
  line-height: 16px;
}
.recharge-token-title,
.withdraw-token-title {
  color: #828282;
}

.activities-card {
  border-radius: 20px;
}

.copy-address:active {
  color: white;
 }