.searchContainer {
  label {
    margin-bottom: 0.2rem;
    font-weight: bold;
  }
  .textCol {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 19px;
  }

  .btn-radius-50i{
    border-radius: 50px !important;
  }

  .btn-radius-25i{
    border-radius: 25px !important;
  }

  .collapseIcon {
    color: rgba(0, 0, 0, 0.5);
    box-shadow: none !important;
    &:hover {
      color: black;
      box-shadow: none !important;
    }
  }

  .btn-tool {
    background-color: transparent;
    color: #adb5bd;
    font-size: 0.875rem;
    margin: -0.75rem 0;
    padding: 0.25rem 0.5rem;
  }

  .padright5 {
    padding-right: 5px;
  }

  .padleft5 {
    padding-left: 5px;
  }

  .paddingCol {
    padding-left: 5px;
    padding-right: 5px;
  }

  .dateInput {
    padding-right: 6px;
  }

  .form-control-sm {
    height: calc(1.8125rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.85rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }

  ::-webkit-calendar-picker-indicator {
    margin-left: 0px;
    padding-right: 0px;
  }

  .card-header {
    background-color: initial;
  }
}
