.info-detail-title {
  font-size: 0.75rem;
  line-height: 14px;
  color: #828282;
}

.detail-value {
  font-size: 0.75rem;
  line-height: 14px;
  color: #333333;
}

.detail-title {
    font-size: 1rem;
    line-height: 19px;
}