// Here you can add other styles
body {
  font-family: 'Roboto', sans-serif;
  background-color: $white;
  font-style: normal;
  font-weight: 500;

  .header-container {
    border-style: none;
    box-shadow: none;
    background-color: #2f2f2f;
  }
  .sub-header {
    background-color: $white;
    border-bottom: none;
  }
  .header-title {
    font-weight: 600;
    color: $black;
  }
  .btn-link-wallet {
    background-color: #e3e3e3;
    color: $primary;
  }
  .dt-filter {
    border-style: 1px solid;
    border-color: $light;
  }
  .btn-radius-50 {
    border-radius: 50px;
  }
  .btn-font-style {
    font-size: 0.9375rem;
    line-height: 18px;
  }
  .content-title {
    font-size: 1rem;
    line-height: 19px;
  }
  .detail-title-font {
    font-size: 0.75rem;
    line-height: 14px;
    color: #828282;
  }
  .border-radius-modal {
    .modal-content {
      border-radius: 20px;
    }
  }
  .modal-title-style {
    font-size: 1.125rem;
    line-height: 21px;
    color: #000000;
  }
  .table td {
    padding: 0.2rem 0 0.2rem 0.2rem;
  }
  .table th {
    padding: 0.5rem 0 0.5rem 0.2rem;
  }
  .rb-card-img {
    position: relative;
    border-radius: 20px 20px 0 0;
    border: none;
  }
  
  .rb-card-img img {
    border-radius: 20px 20px 0 0;
  }
  
  .rb-card-body {
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    height: 70%;
    width: 100%;
  }
  
  .rb-card-body {
    .card-title {
      position: absolute;
      bottom: 0;
    }
  }
}
