// Here you can add other styles
body {
  font-family: 'Roboto', sans-serif;
  background-color: $white;
  font-style: normal;
  font-weight: 500;

  .header-container, .c-sidebar.c-sidebar-light .c-sidebar-brand {
    box-shadow: none;
    background-color: #2f2f2f;
  }
  .sub-header {
    background-color: $white;
    border-bottom: none;
  }
  .header-title {
    font-weight: 600;
    color: $black;
  }
  .btn-link-wallet {
    background-color: rgb(239, 244, 245);
    color: $primary;
  }
  .dt-filter {
    border-style: 1px solid;
    border-color: $light;
  }
  .btn-radius-50 {
    border-radius: 50px;
  }
  .btn-font-style {
    font-size: 0.9375rem;
    line-height: 18px;
  }
  .content-title {
    font-size: 1rem;
    line-height: 19px;
  }
  .detail-title-font {
    font-size: 0.75rem;
    line-height: 14px;
    color: #828282;
  }
  .border-radius-modal {
    .modal-content {
      border-radius: 20px;
    }
  }
  .modal-title-style {
    font-size: 1.125rem;
    line-height: 21px;
    color: #000000;
  }
  .table td {
    padding: 0.2rem 0 0.2rem 0.2rem;
  }
  .table th {
    padding: 0.5rem 0 0.5rem 0.2rem;
  }
  .listing-img-card {
    position: relative;
    border-radius: 20px 20px 0 0;
    border: none;
  }

  .listing-img-card svg {
    width: 100%;
  }

  .listing-img-card img {
    border-radius: 20px 20px 0 0;
  }
  .listing-card-body {
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    height: 70%;
    width: 100%;
    .card-title {
      position: absolute;
      bottom: 0;
    }
  }

  .dr-menu-filter {
    width: 100vw;
    border-radius: 0 0 20px 20px;
  }
  .form-check-input {
    width: 20px;
    height: 20px;
    position: relative;
  }

  .activityLogTableNav {
    .nav-link {
      color: #828282;
      &.active {
        border-bottom: 1px solid $primary;
        color: $primary;
      }
    }
  }
}

//============Loading Animation=========//
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 15px;
}
.lds-ellipsis div {
  position: absolute;
  top: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $primary;
  opacity: 0.8;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
